<div class="nav-bar">
    <ul class="nav-bar-left">
        <li>
            <LinkTo @route="index" class="home links">
                <h2>Home</h2>
            </LinkTo>
        </li>
        <li>
            <LinkTo @route="catalog" class="products links">
                <h2>Catalog</h2>
            </LinkTo>
        </li>
        <li>
            <LinkTo @route="contact" class="contact links">
                <h2>Contact</h2>
            </LinkTo>
        </li>
    </ul>
    <ul class="nav-bar-right">
        <li>
            <LinkTo @route="user" class="user-link links">
                <i class="fa fa-user"></i>
            </LinkTo>
        </li>
        <li>
            <LinkTo @route="cart" class="cart-link links">
                <i class="fa fa-shopping-cart"></i>
            </LinkTo>
        </li>
    </ul>
</div>